body{
    background-color:gray;
}

#welcome{
    font-size: 500%;
    text-align: center;
}

#nav{
    position: fixed;
    background-color: white;
    width: auto;
    height: 100px;
}