head, body{
    margin: 0;
  
}

header{
    width: auto;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.global-nav button{
    border-radius: 30px;
    background-color: rgb(177, 56, 56);
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
  }

.global-nav button.contact{
    background-color: rgb(48, 14, 9);
}
button:hover{
    background-color: rgb(139, 54, 54);
}
main {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;

}
.global-nav{
    float: right;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 10px; 
  
}
  
.global-nav a {
    text-decoration: none;
    color: white; 
    padding: 5px 10px; 
}
body {
    font-family: 'Arial', sans-serif;
}

.fixed-header{
    height: 10px;
    width: auto;
    position:relative;
}

img.pin{
    float: left;
    margin-top: 5px;
    margin-left: 1%;
    align-items: center;
    justify-content: center;

}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}